<div class="row background">
<% @conter_friendships.each do |f|%>
  <% f.messages.each do |m| %>
    <div class="col-md-4">
		<p>
      	<%= m.user.email %>
    	</p>
    	<p>
      	<%= m.title %>
		</p>
		<p>
      	<%= m.content %>
    	</p>
    </div>
  <% end %>
<% end %>
</div>