<h1>All the users</h1>

<div class="row background" id="user_list">
<% @users.each do |user| %>
  	<% if user.id != @current_user.id %>
	<div class="col-md-4" id="single_user">
		<p>
			Email: <%= user.email %>
		</p>
		<button type="button" class="btn btn-primary">
			<%= link_to "Look at profile", user_friendship_path(user.id) %>
		</button>
  	  </div>	
  	<% end %>
<% end %>
</div>