<h1>Add new Restaurant</h1>

<%= render 'form' %>

<button type="button" class="btn btn-info">
	<%= link_to 'Back to cuisine', cuisine_types_path %>
</button>
<button type="button" class="btn btn-info">
	<%= link_to 'Back to restaurant', restaurants_path %>
</button>
</div>